/* STYLES FOR INDEX.HTML */

header {
    display: flex;
    margin: 0 0 3.5rem;
    /* justify-content: center; */
}
    nav {
        display: flex;
        justify-content: end;
        align-items: end;
        width: 100%;
    }
        a.contact-button {
            background-color: #0079f3;
            color: white;
            font-weight: 500;
            padding: 0.25rem 1.5rem;
            border-radius: 0.25rem;
            line-height: 2.15;
        }
        a.contact-button:hover {
            background-color: #0062d9;
            transition: background-color 0.5s ease;
        }
        a.contact-button:focus {
            background-color: #0066FF;
        }

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4rem;
}

/* Section: Project Thumbnails */
section.project-thumbnails {
    display: block;
    margin: 0;
}
    .project-thumbnails h3 {
        margin: 0 0 0.75rem;
        color: #cdd4d8;
    }
    .project-thumbnails h4 {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25;
    }
    .project-thumbnail {
        margin: 0 0 1rem;
        cursor: pointer;
    }
    .project-thumbnail img {
        margin: 0;
        width: 100%;
        border-radius: 0.5rem;
        border: 0.0625rem solid #6e7881;
    }
    .project-thumbnail img:hover {
        transform: scale(1.015);
        transition: transform 0.2s ease, opacity 0.2s ease;
        opacity: 0.8;
    }
    .project-thumbnail figcaption {
        font-size: 1rem;
        font-weight: 500;
    }

    

/* Section: Project */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 102, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 0 25px rgba(0, 102, 255, 0);
    }
}

section.project-container {
    display: block;
    width: 100%;
}
    .project-container h2 {
        margin: 0.75rem 0 1.5rem;
    }
    .project {
        display: block;
    }
    .project-cover img {
        width: 100%;
        border-radius: 0.5rem;
        border: 0.0625rem solid #53595e;
        box-shadow: 0.75rem 2rem 5rem 0.25rem rgba(237, 244, 255, 0.5);
        transition: opacity 0.5s;
    }
    .project-cover img.active {
        animation: pulse 0.225s;
    }
    .project-title {
        margin: 0.5rem 0 1.5rem;
    }
    .project-info {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 3rem;
    }
    .description {
        display: grid;
        grid-template-rows: max-content max-content;
        gap: 1rem;
    }
        .tech-list {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            list-style: none;
            padding: 0;
        }
        .tech-list li {
            display: inline;
            background-color: #eff0f3;
            color: #91acc5;
            padding: 0 1rem;
            border-radius: 0.25rem;
            line-height: 2.15;
        }
        .tech-list li:hover {
            background-color: #e9edf5;
            color: #0066FF;
            transition: background-color 0.25s ease;
        }

    .project-features {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    figure.feature {
        display: block;
        text-align: center;
    }
        .feature img {
            /* width: 80%; */
            max-width: 4rem;
        }
        .feature h4 {
            margin: 0 0 0.5rem;
            font-size: 0.9rem;
            font-weight: 500;
        }
        

