/* STYLES FOR INDEX.HTML */

header {
    display: flex;
    /* justify-content: center; */
}
    nav {
        display: flex;
        justify-content: end;
        align-items: end;
        width: 100%;
        margin: 0 0 2rem;
    }
        a.contact-button {
            background-color: #0079f3;
            color: white;
            font-weight: 500;
            padding: 0.25rem 1.5rem;
            border-radius: 0.25rem;
            line-height: 2.15;
        }
        a.contact-button:hover {
            background-color: #0062d9;
            transition: background-color 0.5s ease;
        }
        a.contact-button:focus {
            background-color: #0066FF;
        }

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2.5rem;
}

/* Section: Project Thumbnails */
section.project-thumbnails {
    display: block;
    margin: 0;
}
    .project-thumbnail {
        margin: 0 0 1rem;
        /* padding: 1rem, 0; */
    }
    .project-thumbnail img {
        margin: 0;
        width: 100%;
        border-radius: 0.5rem;
        border: 2px solid #222528;
    }
    .project-thumbnail figcaption {
        font-size: 1rem;
        font-weight: 500;
    }


/* Section: Project */
section.project-container {
    display: block;
    width: 100%;
}
    .project {
        display: block;
    }
    .project-cover img {
        width: 100%;
        border-radius: 0.5rem;
        border: 2px solid #222528;
    }
    .project-title {
        margin: 0.5rem 0 1.5rem;
    }
    .project-info {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 3rem;
    }
    .description {
        display: grid;
        grid-template-rows: max-content max-content;
        gap: 1rem;
    }
        .tech-list {
            list-style: none;
            padding: 0;
        }
        .tech-list li {
            display: inline;
            background-color: #3d3f41;
            color: white;
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            line-height: 2.15;
        }

    .project-features {
        display: block;
    }
    figure.feature {
        display: block;
        text-align: center;
    }
        .feature img {
            /* width: 80%; */
            max-width: 6rem;
        }
        .feature h3 {
            margin: 0 0 0.5rem;
            font-size: 0.9rem;
            font-weight: 500;
        }
        

